@charset "UTF-8";

*{
    font-family: monospace;
    font-weight: 900;
}

#tela{
    border: 5px solid #8ccfca;
    width: 235px;
    margin: auto;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

#segvisor{
    padding: 5px;
    background-color: #000000;
    text-align: right;
    font-size: 1.5em;
    width: 225px;
    margin: auto;
    height: 20px;
    color: white;
}

#primvisor{
    padding: 5px;
    background-color: #000000;
    text-align: right;
    font-size: 3em;
    width: 225px;
    margin: auto;
    height: 40px;
    color: white;
}

table{
    width: 245px;
    height: 350px;
    margin: auto;
    padding: 10px;
    background-color: #8ccfca;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}


.zerar{
    height: 40px;
    width: 35px;
    border-radius: 25%;
    margin-bottom: 10px;
    background-color: #f08080;
    border: 3px outset #c06969;
    font-size: 2em;
}

.zerar:hover{
    border: 3px solid #943535;
    background-color: #f05050;
}

.zerar:active{
    border: 0px;
    box-shadow: inset 0px 0px 10px black;
    color: #cccccc;
}

td{
    width: 30px;
    height: 30px;
}

button{
    margin: 0px -2px -2px 0px;
    color: #ffffff;
    background-color: #808080;
    width: 100%;
    height: 100%;
    font-size: 1.5em;
    border: 3px outset #0f757c;
    border-radius: 15%;
}

button:hover{
    border: 3px solid #0f757c;
    background-color: #757575;
}

button:active{
    border: 0px;
    box-shadow: inset 0px 0px 10px black;
    color: #cccccc;
}